.venv/
.python_runtime/
**/__pycache__/
*.pyc
node_modules/
src/dist/
src/build_launcher/
/Wavoscope
/Wavoscope.exe
src/*.spec
*.log
src/frontend/node_modules/
src/frontend/dist/
test-results/
.pytest_cache/
.vscode/
.idea/
